 
.vs/AutoOperateLib/v17/Browse.VC.db 
.vs/AutoOperateLib/v17/Solution.VC.db 
.vs/AutoOperateLib/v17/ipch/AutoPCH/13199a8ea96d5863/TEST.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/2d1c15315667bbf3/AUTOOPERATELIB.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/30cf0f1f4f3969e9/TEST.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/4fb1fd908a349951/AUTOOPERATELIB.ipch 
AutoOperateLib/x64/Debug/AutoOperateLib.obj 
AutoOperateLib/x64/Release/AutoOperateLib.obj 
Test/x64/Debug/Test.ilk 
Test/x64/Debug/vc143.pdb 
Test/x64/Release/Test.obj 
Test/x64/Release/vc143.pdb 
x64/Debug/AutoOperateLib.idb 
x64/Debug/AutoOperateLib.lib 
x64/Debug/AutoOperateLib.pdb 
x64/Debug/Test.pdb 
x64/Release/AutoOperateLib.lib 
x64/Release/AutoOperateLib.pdb 
x64/Release/Test.pdb 
