 
.vs/AutoOperateLib/v17/Browse.VC.db 
.vs/AutoOperateLib/v17/Solution.VC.db 
.vs/AutoOperateLib/v17/ipch/AutoPCH/13199a8ea96d5863/TEST.ipch 
AutoOperateLib/x64/Debug/AutoOperateLib.obj 
AutoOperateLib/x64/Release/AutoOperateLib.obj 
Test/x64/Debug/Test.ilk 
Test/x64/Debug/vc143.pdb 
Test/x64/Release/Test.obj 
x64/Debug/AutoOperateLib.lib 
x64/Debug/AutoOperateLib.pdb 
x64/Debug/Test.pdb 
x64/Release/AutoOperateLib.lib 
x64/Release/AutoOperateLib.pdb 
x64/Release/Test.pdb 
