 
.vs/AutoOperateLib/v17/Browse.VC.db 
.vs/AutoOperateLib/v17/Solution.VC.db 
.vs/AutoOperateLib/v17/ipch/AutoPCH/2d1c15315667bbf3/AUTOOPERATELIB.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/30cf0f1f4f3969e9/TEST.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/30fe5b61d859a0da/CV.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/314237c192e02032/BASE.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/3a03bb18367cd507/WINDOWSHIFT.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/4fb1fd908a349951/AUTOOPERATELIB.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/521f068889e70df3/BOSSKEY.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/537a90e0717dcb96/MAINWINDOW.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/626036eef2bd30c8/AUTOOPERATELIB.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/6a1b6e8f30017911/CV.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/7db5d28548966f51/BASE.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/887dd1b7998cfcf1/WINDOWSHIFT.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/9207cd054b755be9/VCTMP21304_667149.AUTOOPERATELIB.00000000.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/ac1e815ae49f21f9/MAINWINDOW.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/bd4cd77b9b1149/BOSSKEY.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/cf25f3432dcfd603/JSON_VALUE.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/cfeb6107346288c7/MOC_MAINWINDOW.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/d0109982ba363f40/CV.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/ddd9b16867465995/MAIN.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/dea072762fc36a5e/VCTMP22292_263938.AUTOOPERATELIB.00000000.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/e0ea04e2ae5d2a80/BASE.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/ec4b8c907148e873/MAINWINDOW.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/f297e75d156edc6c/FUNCTIONDISCOVERYKEYS_DEVPKEY.ipch 
.vs/AutoOperateLib/v17/ipch/AutoPCH/f9fb5cfbf1715cd7/MAIN.ipch 
AutoOperateLib/x64/Debug/AutoOperateLib.obj 
AutoOperateLib/x64/Debug/Base.obj 
AutoOperateLib/x64/Debug/CV.obj 
AutoOperateLib/x64/Release/AutoOperateLib.obj 
AutoOperateLib/x64/Release/Base.obj 
AutoOperateLib/x64/Release/CV.obj 
SampleApps/QMouseClicker/bin/x64/Debug/Qt5Cored.dll 
SampleApps/QMouseClicker/bin/x64/Debug/Qt5Guid.dll 
SampleApps/QMouseClicker/bin/x64/Debug/Qt5Widgetsd.dll 
SampleApps/QMouseClicker/bin/x64/Debug/鼠标连点器.exe 
SampleApps/QMouseClicker/bin/x64/Debug/鼠标连点器.pdb 
SampleApps/QMouseClicker/bin/x64/Debug/platforms/qwindowsd.dll 
SampleApps/QMouseClicker/bin/x64/Release/Qt5Core.dll 
SampleApps/QMouseClicker/bin/x64/Release/Qt5Gui.dll 
SampleApps/QMouseClicker/bin/x64/Release/Qt5Widgets.dll 
SampleApps/QMouseClicker/bin/x64/Release/platforms/qwindows.dll 
SampleApps/QMouseClicker/x64/Debug/QMouseClicker.ilk 
SampleApps/QMouseClicker/x64/Debug/vc143.idb 
SampleApps/QMouseClicker/x64/Debug/vc143.pdb 
SampleApps/QMouseClicker/x64/Debug/鼠标连点器.ilk 
SampleApps/QMouseClicker/x64/Release/main.obj 
SampleApps/QMouseClicker/x64/Release/MainWindow.obj 
SampleApps/QMouseClicker/x64/Release/moc_MainWindow.obj 
SampleApps/QMouseClicker/x64/Release/QMouseClicker.iobj 
SampleApps/QMouseClicker/x64/Release/QMouseClicker.ipdb 
SampleApps/QMouseClicker/x64/Release/vc143.pdb 
SampleApps/QMouseClicker/x64/Release/鼠标连点器.iobj 
SampleApps/QMouseClicker/x64/Release/鼠标连点器.ipdb 
SampleApps/WindowShift/bin/x64/Debug/opencv_world3415d.dll 
SampleApps/WindowShift/bin/x64/Debug/TestCpp.exe 
SampleApps/WindowShift/bin/x64/Debug/TestCpp.pdb 
SampleApps/WindowShift/bin/x64/Release/TestCpp.pdb 
SampleApps/WindowShift/x64/Debug/TestCpp.ilk 
SampleApps/WindowShift/x64/Debug/vc143.idb 
SampleApps/WindowShift/x64/Debug/vc143.pdb 
SampleApps/WindowShift/x64/Debug/WindowShift.obj 
SampleApps/WindowShift/x64/Release/TestCpp.iobj 
SampleApps/WindowShift/x64/Release/TestCpp.ipdb 
SampleApps/WindowShift/x64/Release/vc143.pdb 
SampleApps/WindowShift/x64/Release/WindowShift.obj 
Test/x64/Debug/Test.ilk 
Test/x64/Debug/test.obj.enc 
Test/x64/Debug/vc143.idb 
Test/x64/Debug/vc143.pdb 
Test/x64/Release/Test.iobj 
Test/x64/Release/Test.ipdb 
Test/x64/Release/Test.obj 
Test/x64/Release/vc143.pdb 
Thirdparty/curl/bin/Debug/libcurl-d.dll 
Thirdparty/curl/bin/Debug/libcurl-d.pdb 
Thirdparty/curl/bin/Release/libcurl.dll 
Thirdparty/curl/bin/Release/libcurl.pdb 
Thirdparty/jsoncpp/bin/Debug/jsoncpp.dll 
Thirdparty/jsoncpp/bin/Debug/jsoncpp.pdb 
Thirdparty/jsoncpp/bin/Release/jsoncpp.pdb 
Thirdparty/OpenCV-3.4.15/opencv/build/bin/opencv_ffmpeg3415_64.dll 
Thirdparty/OpenCV-3.4.15/opencv/build/etc/haarcascades/haarcascade_eye_tree_eyeglasses.xml 
Thirdparty/OpenCV-3.4.15/opencv/build/etc/haarcascades/haarcascade_frontalface_alt.xml 
Thirdparty/OpenCV-3.4.15/opencv/build/etc/haarcascades/haarcascade_frontalface_alt2.xml 
Thirdparty/OpenCV-3.4.15/opencv/build/etc/haarcascades/haarcascade_frontalface_alt_tree.xml 
Thirdparty/OpenCV-3.4.15/opencv/build/etc/haarcascades/haarcascade_frontalface_default.xml 
Thirdparty/OpenCV-3.4.15/opencv/build/etc/haarcascades/haarcascade_profileface.xml 
Thirdparty/OpenCV-3.4.15/opencv/build/etc/haarcascades/haarcascade_upperbody.xml 
Thirdparty/OpenCV-3.4.15/opencv/build/java/opencv-3415.jar 
Thirdparty/OpenCV-3.4.15/opencv/build/java/x64/opencv_java3415.dll 
Thirdparty/OpenCV-3.4.15/opencv/build/java/x86/opencv_java3415.dll 
Thirdparty/OpenCV-3.4.15/opencv/build/python/cv2/python-2.7/cv2.pyd 
Thirdparty/OpenCV-3.4.15/opencv/build/python/cv2/python-3.5/cv2.cp35-win_amd64.pyd 
Thirdparty/OpenCV-3.4.15/opencv/build/python/cv2/python-3.6/cv2.cp36-win_amd64.pyd 
Thirdparty/OpenCV-3.4.15/opencv/build/python/cv2/python-3.7/cv2.cp37-win_amd64.pyd 
Thirdparty/OpenCV-3.4.15/opencv/build/python/cv2/python-3.8/cv2.cp38-win_amd64.pyd 
Thirdparty/OpenCV-3.4.15/opencv/build/python/cv2/python-3.9/cv2.cp39-win_amd64.pyd 
Thirdparty/OpenCV-3.4.15/opencv/build/x64/vc14/bin/opencv_ffmpeg3415_64.dll 
Thirdparty/OpenCV-3.4.15/opencv/build/x64/vc14/bin/opencv_world3415.dll 
Thirdparty/OpenCV-3.4.15/opencv/build/x64/vc14/bin/opencv_world3415.pdb 
Thirdparty/OpenCV-3.4.15/opencv/build/x64/vc14/bin/opencv_world3415d.dll 
Thirdparty/OpenCV-3.4.15/opencv/build/x64/vc14/bin/opencv_world3415d.pdb 
Thirdparty/OpenCV-3.4.15/opencv/build/x64/vc14/lib/opencv_world3415.lib 
Thirdparty/OpenCV-3.4.15/opencv/build/x64/vc14/lib/opencv_world3415d.lib 
Thirdparty/OpenCV-3.4.15/opencv/build/x64/vc15/bin/opencv_ffmpeg3415_64.dll 
Thirdparty/OpenCV-3.4.15/opencv/build/x64/vc15/bin/opencv_world3415.dll 
Thirdparty/OpenCV-3.4.15/opencv/build/x64/vc15/bin/opencv_world3415.pdb 
Thirdparty/OpenCV-3.4.15/opencv/build/x64/vc15/bin/opencv_world3415d.dll 
Thirdparty/OpenCV-3.4.15/opencv/build/x64/vc15/bin/opencv_world3415d.pdb 
Thirdparty/OpenCV-3.4.15/opencv/build/x64/vc15/lib/opencv_world3415.lib 
Thirdparty/OpenCV-3.4.15/opencv/build/x64/vc15/lib/opencv_world3415d.lib 
Thirdparty/OpenCV-3.4.15/opencv/sources/3rdparty/openexr/Half/toFloat.h 
Thirdparty/OpenCV-3.4.15/opencv/sources/3rdparty/openexr/IlmImf/b44ExpLogTable.h 
Thirdparty/OpenCV-3.4.15/opencv/sources/3rdparty/protobuf/src/google/protobuf/descriptor.pb.cc 
Thirdparty/OpenCV-3.4.15/opencv/sources/data/haarcascades/haarcascade_eye_tree_eyeglasses.xml 
Thirdparty/OpenCV-3.4.15/opencv/sources/data/haarcascades/haarcascade_frontalface_alt.xml 
Thirdparty/OpenCV-3.4.15/opencv/sources/data/haarcascades/haarcascade_frontalface_alt2.xml 
Thirdparty/OpenCV-3.4.15/opencv/sources/data/haarcascades/haarcascade_frontalface_alt_tree.xml 
Thirdparty/OpenCV-3.4.15/opencv/sources/data/haarcascades/haarcascade_frontalface_default.xml 
Thirdparty/OpenCV-3.4.15/opencv/sources/data/haarcascades/haarcascade_profileface.xml 
Thirdparty/OpenCV-3.4.15/opencv/sources/data/haarcascades/haarcascade_upperbody.xml 
Thirdparty/OpenCV-3.4.15/opencv/sources/data/haarcascades_cuda/haarcascade_eye_tree_eyeglasses.xml 
Thirdparty/OpenCV-3.4.15/opencv/sources/data/haarcascades_cuda/haarcascade_frontalface_alt.xml 
Thirdparty/OpenCV-3.4.15/opencv/sources/data/haarcascades_cuda/haarcascade_frontalface_alt2.xml 
Thirdparty/OpenCV-3.4.15/opencv/sources/data/haarcascades_cuda/haarcascade_frontalface_alt_tree.xml 
Thirdparty/OpenCV-3.4.15/opencv/sources/data/haarcascades_cuda/haarcascade_frontalface_default.xml 
Thirdparty/OpenCV-3.4.15/opencv/sources/data/haarcascades_cuda/haarcascade_fullbody.xml 
Thirdparty/OpenCV-3.4.15/opencv/sources/data/haarcascades_cuda/haarcascade_lowerbody.xml 
Thirdparty/OpenCV-3.4.15/opencv/sources/data/haarcascades_cuda/haarcascade_profileface.xml 
Thirdparty/OpenCV-3.4.15/opencv/sources/data/haarcascades_cuda/haarcascade_upperbody.xml 
Thirdparty/OpenCV-3.4.15/opencv/sources/data/vec_files/trainingfaces_24-24.vec 
Thirdparty/OpenCV-3.4.15/opencv/sources/doc/js_tutorials/js_assets/cup.mp4 
Thirdparty/OpenCV-3.4.15/opencv/sources/doc/tutorials/features2d/akaze_matching/images/graf.png 
Thirdparty/OpenCV-3.4.15/opencv/sources/doc/tutorials/features2d/akaze_matching/images/res.png 
Thirdparty/OpenCV-3.4.15/opencv/sources/doc/tutorials/introduction/images/lena.png 
Thirdparty/OpenCV-3.4.15/opencv/sources/doc/tutorials/photo/hdr_imaging/images/fusion.png 
Thirdparty/OpenCV-3.4.15/opencv/sources/doc/tutorials/photo/hdr_imaging/images/ldr.png 
Thirdparty/OpenCV-3.4.15/opencv/sources/doc/tutorials/photo/images/hdr.png 
Thirdparty/OpenCV-3.4.15/opencv/sources/doc/tutorials/viz/histo3D/images/histo50.png 
Thirdparty/OpenCV-3.4.15/opencv/sources/modules/dnn/misc/caffe/opencv-caffe.pb.cc 
Thirdparty/OpenCV-3.4.15/opencv/sources/modules/dnn/misc/caffe/opencv-caffe.pb.h 
Thirdparty/OpenCV-3.4.15/opencv/sources/modules/ts/include/opencv2/ts/ts_gtest.h 
Thirdparty/OpenCV-3.4.15/opencv/sources/samples/cpp/tutorial_code/calib3d/real_time_pose_estimation/Data/box.mp4 
Thirdparty/OpenCV-3.4.15/opencv/sources/samples/cpp/tutorial_code/calib3d/real_time_pose_estimation/Data/cookies_ORB.yml 
Thirdparty/OpenCV-3.4.15/opencv/sources/samples/data/chicky_512.png 
Thirdparty/OpenCV-3.4.15/opencv/sources/samples/data/digits.png 
Thirdparty/OpenCV-3.4.15/opencv/sources/samples/data/graf1.png 
Thirdparty/OpenCV-3.4.15/opencv/sources/samples/data/graf3.png 
Thirdparty/OpenCV-3.4.15/opencv/sources/samples/data/letter-recognition.data 
Thirdparty/OpenCV-3.4.15/opencv/sources/samples/data/Megamind.avi 
Thirdparty/OpenCV-3.4.15/opencv/sources/samples/data/Megamind_bugy.avi 
Thirdparty/OpenCV-3.4.15/opencv/sources/samples/data/tree.avi 
Thirdparty/OpenCV-3.4.15/opencv/sources/samples/data/vtest.avi 
Thirdparty/OpenCV-3.4.15/opencv/sources/samples/java/clojure/simple-sample/resources/images/lena.png 
Thirdparty/OpenCV-3.4.15/opencv/sources/samples/java/sbt/sbt/sbt-launch.jar 
Thirdparty/OpenCV-3.4.15/opencv/sources/samples/winrt/FaceDetection/FaceDetection/Assets/haarcascade_frontalface_alt.xml 
Thirdparty/OpenCV-3.4.15/opencv/sources/samples/winrt_universal/VideoCaptureXAML/video_capture_xaml/video_capture_xaml.Windows/Assets/haarcascade_frontalface_alt.xml 
Thirdparty/openssl/bin/Debug/legacy.pdb 
Thirdparty/openssl/bin/Debug/libcrypto-3-x64.dll 
Thirdparty/openssl/bin/Debug/libcrypto-3-x64.pdb 
Thirdparty/openssl/bin/Debug/libssl-3-x64.dll 
Thirdparty/openssl/bin/Debug/libssl-3-x64.pdb 
Thirdparty/openssl/bin/Release/legacy.pdb 
Thirdparty/openssl/bin/Release/libcrypto-3-x64.dll 
Thirdparty/openssl/bin/Release/libcrypto-3-x64.pdb 
Thirdparty/openssl/bin/Release/libssl-3-x64.dll 
Thirdparty/openssl/bin/Release/libssl-3-x64.pdb 
Thirdparty/openssl/lib/Debug/libcrypto.lib 
Thirdparty/openssl/lib/Release/libcrypto.lib 
x64/Debug/AutoOperateLib.idb 
x64/Debug/AutoOperateLib.lib 
x64/Debug/AutoOperateLib.pdb 
x64/Debug/jsoncpp.dll 
x64/Debug/legacy.pdb 
x64/Debug/libcrypto-3-x64.dll 
x64/Debug/libcrypto-3-x64.pdb 
x64/Debug/libcurl-d.dll 
x64/Debug/libssl-3-x64.dll 
x64/Debug/libssl-3-x64.pdb 
x64/Debug/opencv_world3415d.dll 
x64/Debug/Test.exe 
x64/Debug/Test.pdb 
x64/Release/AutoOperateLib.lib 
x64/Release/AutoOperateLib.pdb 
x64/Release/legacy.pdb 
x64/Release/libcrypto-3-x64.dll 
x64/Release/libcrypto-3-x64.pdb 
x64/Release/libcurl.dll 
x64/Release/libssl-3-x64.dll 
x64/Release/libssl-3-x64.pdb 
x64/Release/opencv_world3415.dll 
x64/Release/Test.pdb 
